body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #efecf2;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f8f7f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #a66fd7;
    color: #f8f7f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8b57b8;
}

.back-button {  
    display: block;
    margin: 20px auto 0;
    width: 20%;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1.2em;
}
